:root
{
    --primarycolor: #ead4d48f;
    --black: #252525;
    --white: #ffffff;
    --secondary: #3b4d61;
    --teritory: #E81B28;
}
*
{
    color: var(--black);
}
.text-white
{
    color: var(--white) !important;
}
.text-black
{
    color: var(--black) !important;
}
.uk-navbar-nav>li.uk-active>a {
    color: var(--teritory)!important;
}
.uk-navbar-nav>li>a {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--secondary) !important;
}
.uk-navbar-container:not(.uk-navbar-transparent) 
{
    background: var(--primarycolor) !important;
}
.uk-card-secondary
{
    background: var(--primarycolor) !important;
}

#container 
{
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
}
  
#container h1 
{
    font-weight: normal;
    text-transform: uppercase;
    margin: 0.3125em 0;
    position: relative;
    background-color: var(--white);
    display: inline-block;
    padding: 0 10px;
}
.style-1 
{
    font-family: "Pacifico", sans-serif;
    text-transform: none!important;
} 
.style-1:before 
{
    content: "";
    height: 3px;
    border-top: 1px solid var(--teritory);
    border-bottom: 1px solid var(--teritory);
    position: absolute;
    width: 300%;
    top: 50%;
    left: -100%;
    z-index: -999;
}  
